/* MAIN CONTAINER */
body{
    background-color: #f8fafc;
}

.navbar {
    
    background-color: #1e293b;
    backdrop-filter: blur(10px);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.12);
    position: sticky;
    top: 0;
    z-index: 9999;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color:white;
}

.nav-links a:hover {
    color: rgb(37, 99, 235);
}

.page-container {
    max-width: 1000px;
    margin: 60px auto;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    overflow: hidden;
}

/* LEFT SIDE */
.info-section {
    padding: 50px 40px;
    flex: 1;
    background-color: #f1f5f9;
}

.info-section h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #1f2937;
}

.info-section p {
    color: #6b7280;
    font-size: 14px;
}

.back {
    text-decoration: none;
    color: #374151;
    font-size: 14px;
}

/* RIGHT SIDE FORM */
.form-card {
    padding: 50px 40px;
    flex: 1;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

/* LABELS */
.form-card label {
    font-size: 14px;
    display: inline;
    margin-top: 12px;
}


.location select {
    width: 100%;
    padding: 12px;
    margin: 8px 0 18px 0;
    border-radius: 8px;
    border: none;
    background-color: #334155;
    color: white;
    outline: none;
}

/* FOCUS EFFECT */
.location select:focus {
    border: 1px solid #3b82f6;
}
.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
}

.checkbox input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: #3b82f6;
    cursor: pointer;
}

.checkbox label {
    font-size: 13px;
    color: white;
    cursor: pointer;
}

/* BUTTON */
.form-card button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #3b82f6, #2563eb);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.form-card button:hover {
    opacity: 0.9;
}
.location-input-group {
  display: flex;
  align-items: center;
  gap: 2px; /* space between select and button */
}

.location-input-group select {
  flex: 1; /* take remaining width */
  padding: 12px;
  border-radius: 8px;
  height: 48px; /* match button height */
  border: none;
  background-color: #334155;
  color: white;
  outline: none;
}

.location-input-group .location-icon {
  font-size: 20px;
  cursor: pointer;
  color: white;
  border: none;
  width: 48px;   /* fixed width */
  height: 48px;  /* fixed height */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: linear-gradient(to right, #0260f7, #2563eb); 
  margin-bottom: 18px;
  margin-left: 12px;
  transition: 0.3s;
}


.location-icon:hover {
     opacity: 0.9;
     
    
}


/* Map Modal */
.map-modal {
    display: none;
    position: fixed;
    top: 180px;
    left: 305px;
    width: 50%;
    height: 50%;
   
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.map-modal.active {
    display: flex;
}

.map-modal-content {
    background: white;
    border-radius: 15px;
    padding: 20px;
    width: 90%;
    max-width: 700px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}

.map-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.map-modal-header h2 {
    margin: 0;
    color: #0f172a;
}

.close-btn {
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: #666;
    transition: 0.2s;
}

.close-btn:hover {
    color: #000;
}

#locationMap {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

