<!DOCTYPE html>
<html>
<head>
    <title>Academy</title>
    <link rel="stylesheet" href="/CSS/academystyle.css">
</head>

<body>

<div class="navbar">
    <div class="logo">Yalla Padel</div>

    <div class="nav-links">
        <a href="/home">Home</a>
    </div>
</div>


<div class="hero">
    <h1>PADEL ACADEMY</h1>
    <p>Select your training type and improve your skills.</p>
</div>


<div class="padel-section">

    <div class="container">

        <!-- PRIVATE TRAINING -->
        <a href="/academy/private-training">
            <div class="Private">
                <img src="/images/padel court 1.jpeg" alt="Private Training">

                <div class="subheading">1 Player</div>
                <div class="price">6,000 <span>EGP/Session</span></div>

                <div class="disprection">
                    <h2>Private training</h2>  
                    <p>Private training: 1 hour 30 min of padel training 1000 EGP per hour</p>
                </div>
            </div>
        </a>


        <!-- GROUP TRAINING -->
        <a href="/academy/group-training">
            <div class="Group">
                <img src="/images/group of players.jfif" alt="Group Training">

                <div class="subheading">4 Player</div>
                <div class="price">3,000 <span>EGP/Session</span></div>

                <div class="disprection">
                    <h2>Group training</h2>  
                    <p>Group training: 8 hours of padel per month</p>
                </div>
            </div>
        </a>


        <!-- DASHBOARD -->
        <a href="/academy/dashboard">
            <div class="user">
                <img src="/images/padel (2).jpeg" alt="Dashboard">

                <div class="subheading">Schedule</div>

                <div class="disprection">
                    <h2>User Dashboard</h2>  
                    <p>Everything about the training</p>
                </div>
            </div>
        </a>

    </div>

</div>


<!-- FOOTER -->
<div class="footer" id="contact">

    <div class="footer-left">
        <h3>HPadel</h3>
        <p>Email: info@hpadel.com</p>
        <p>Phone: +20 123 456 789</p>
    </div>

    <div class="footer-right">
        <h4>Follow us</h4>

        <div class="socials">
            <a href="#"><img src="/images/facee.jpeg"></a>
            <a href="#"><img src="/images/instaaa.jpeg"></a>
        </div>
    </div>

</div>

</body>