<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../CSS/adminMenu.css">
</head>

<body>

<div class="navbar">
    <div class="logo">Yalla Padel</div>
    <div class="nav-links">
        <a href="/home">Home</a>
    </div>
</div>

<div class="hero">
    <h1>ADMIN DASHBOARD</h1>
</div>

<div class="padel-section">
    <div class="container">

        <a href="/coaches">
            <div class="listOfCoaches">
                <img src="../images/padel court 1.jpg" alt="">
            </div>
        </a>
        <div class="subheading">Coaches</div>
        <div class="disprection">
            <h2>List of Coaches</h2>  
            <p>List of coaches that work with Yalla Padel</p>
        </div>

        <a href="/manage-coaches">
            <div class="ManageCoaches">
                <img src="../images/group of players.jfif" alt="">
            </div>
        </a>
        <div class="subheading">Manage Coaches</div>
        <div class="disprection">
            <h2>Manage</h2>  
            <p>Manage coaches and edit information</p>
        </div>

    </div>
</div>

<div class="footer" id="contact">
    <div class="footer-left">
        <h3>Yalla Padel</h3>
        <p>Email: info@hpadel.com</p>
        <p>Phone: +20 123 456 789</p>
    </div>

    <div class="footer-right">
        <h4>Follow us</h4>
        <div class="socials">
            <a href="#"><img src="../images/facee.jpeg"></a>
            <a href="#"><img src="../images/instaaa.jpeg"></a>
        </div>
    </div>
</div>

</body>
</html>
