<!DOCTYPE html>
<html>
<head>
    <title>Group Training</title>

    <link rel="stylesheet" href="/CSS/groupform.css">
</head>

<body>

<div class="navbar">
    <div class="logo">Yalla Padel</div>

    <div class="nav-links">
        <a href="/academy">Home</a>
    </div>
</div>


<div class="page-container">

    <!-- LEFT SIDE -->
    <div class="info-section">

        <a href="/academy" class="back">← BACK TO LIST</a>

        <h2>Group Training</h2>

        <p>
            Register for your group training session. Choose your preferred location,
            days, and time slots carefully.
        </p>

    </div>


    <div class="form-card">

        <!-- IMPORTANT: connect to backend -->
        <form id="bookingForm" action="/academy/find-group-coaches" method="POST" data-type="group">

            <label for="location">Location</label>

            <select id="location" name="location" required>
                <option disabled selected>Choose location</option>
                <option value="Smash Club">Smash Club</option>
                <option value="Cairo International Stadium">Cairo International Stadium</option>
                <option value="HPark">HPark</option>
                <option value="Wadi Degla">Wadi Degla</option>
                <option value="Shams Club">Shams Club</option>
            </select>


            <label><b>Days</b></label><br><br>

            <input type="radio" name="day" value="Monday-Wednesday"> Monday-Wednesday<br><br>
            <input type="radio" name="day" value="Sunday-Tuesday"> Sunday-Tuesday<br><br>
            <input type="radio" name="day" value="Thursday-Saturday"> Thursday-Saturday<br><br>


            <label><b>Time Slots</b></label><br><br>

            <input type="radio" name="time" value="6-7"> 6:00PM-7:00PM<br><br>
            <input type="radio" name="time" value="7-8"> 7:00PM-8:00PM<br><br>
            <input type="radio" name="time" value="9-10"> 9:00PM-10:00PM<br><br>


            <button type="submit">Find coaches</button>

        </form>

    </div>

</div>

</body>
</html>