<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/listOfCoaches.css">
</head>

<body>


<div class="navbar">
    <div class="logo">Yalla Padel</div>

    <div class="nav-links">
        <a href="#">HOME</a>
        <a href="../html/ManageCoaches.html">MANAGE COACHES</a>
    </div>
</div>


<div class="hero">
    <a href="../html/adminMenu.html" class="back">← BACK TO LIST</a>
    <h1>LIST OF COACHES</h1>
    <p>All coaches will appear here</p>
</div>




<div id="dashboardContainer">

    
    <div class="coach-card" style="display:none; position:relative;">

        <div class="Name">Coach Name: <span class="name"></span></div>
        <p>Phone: <span class="phone"></span></p>
        <p>Exprience: <span class="exprience"></span></p>
        <p>Location: <span class="location"></span></p>
        <p>Days: <span class="days"></span></p>
        <p>Time: <span class="time"></span></p>
        <p>Salary: <span class="Salary"></span></p>

    </div>

</div>



<script src="../js/listOfCoaches.js"></script>

</body>
</html>