<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/CSS/listOfCoaches.css">
</head>

<body>

<div class="navbar">
    <div class="logo">Yalla Padel</div>

    <div class="nav-links">
        <a href="/home">HOME</a>
        <a href="/academy/admin/manage-coaches">MANAGE COACHES</a>
    </div>
</div>

<div class="hero">
    <a href="/adminMenu" class="back">← BACK TO LIST</a>
    <h1>LIST OF COACHES</h1>
    <p>All coaches will appear here</p>
</div>

<div id="dashboardContainer">
<!-- hidden template card -->
<div class="coach-card" style="display:none">
  <div class="Name">Coach Name: <span class="name"></span></div>
  <div class="Phone">Phone: <span class="phone"></span></div>
  <div class="Experience">Experience: <span class="experience"></span></div>
  <div class="Location">Location: <span class="location"></span></div>
  <div class="Days">Days: <span class="days"></span></div>
  <div class="Time">Time: <span class="time"></span></div>
  <div class="Salary">Salary: <span class="salary"></span></div>
</div>
</div>

<script src="/js/listOfCoaches.js"></script>
</body>
</html>
