<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../CSS/dashboard.css">
</head>

<body>

  <div class="navbar">
    <div class="logo"> Yalla Padel </div>

    <div class="nav-links">
        <a href="home.html">Home</a>
    </div>
</div>


<div class="hero">
    <a href="academy.html" class="back">← BACK TO LIST</a>
    <h1>USER DASHBOARD</h1>
    <p>All your booked trainings will appear here</p>
</div>


<div id="dashboardContainer">

    
  <div class="coach-card" style="display:none;">

    <div class="Training"></div>
    <p>Coach Name: <span class="name"></span></p>
    <p>Phone: <span class="phone"></span></p>
    <p>Location: <span class="location"></span></p>
    <p>Days: <span class="days"></span></p>
    <p>Time: <span class="time"></span></p>

</div>

</div>

<script src="../js/dashboard.js"></script>

</body>
</html>