<!DOCTYPE html>
<html>
<head>
<title>Padel Clubs</title>
<link rel="stylesheet" href="../CSS/kevin.css">
</head>

<body>
<div class="navbar">
    <div class="logo"> Yalla Padel </div>

    <div class="nav-links">
        <a href="home.html">Home</a>
        
    </div>
</div>

<h1>PADEL CLUBS</h1>

<div class="container">

    <div class="card">
        <div class="img-box">
            <img src="../images/OIP (2).jfif">
            <span class="price">450 EGP/HOUR</span>
            <button onclick="selectClub('Shams Club')">Shams Club</button>
        </div>
    </div>

    <div class="card">
        <div class="img-box">
            <img src="../images/OIP (4).jfif">
            <span class="price">450 EGP/HOUR</span>
            <button onclick="selectClub('Wadi Degla')">Wadi Degla</button>
        </div>
    </div>

    <div class="card">
        <div class="img-box">
            <img src="../images/OIP.jfif">
            <span class="price">450 EGP/HOUR</span>
            <button onclick="selectClub('HPark')">HPark</button>
        </div>
    </div>

    <div class="card">
        <div class="img-box">
            <img src="../images/OIP (2).jfif">
            <span class="price">450 EGP/HOUR</span>
            <button onclick="selectClub('Cairo Stadium')">Cairo Stadium</button>
        </div>
    </div>

    <div class="card">
        <div class="img-box">
            <img src="../images/OIP (1).jfif">
            <span class="price">450 EGP/HOUR</span>
            <button onclick="selectClub('Smash Club')">Smash Club</button>
        </div>
    </div>

</div>

<script src="../js/script.js"></script>


</body>
</html>