
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Padel Court Booking</title>
    <link rel="stylesheet" href="/CSS/kevin.css">
</head>

<body>

<div class="navbar">
    <div class="logo">Yalla Padel</div>

    <div class="nav-links">
        <a href="/">Home</a>
    </div>
</div>

<h1>🎾 BOOK COURTS</h1>

<h2 style="text-align:center">
    Club: <%= club %>
</h2>

<div style="text-align:center; margin-bottom:20px;">
    <iframe
        src="<%= mapUrl %>"
        width="700"
        height="350"
        style="border:0;"
        loading="lazy">
    </iframe>
</div>



<% if (typeof error !== 'undefined') { %>
    <p style="color:red;text-align:center">
        <%= error %>
    </p>
<% } %>

<div style="text-align:center;margin-bottom:20px;">
    <form action="/create-booking" method="POST">

        <input type="hidden" name="club" value="<%= club %>">

        <label>Select Court</label>

        <select name="court" required>
            <option value="">Choose Court</option>
            <option value="Court 1">Court 1</option>
            <option value="Court 2">Court 2</option>
            <option value="Court 3">Court 3</option>
        </select>

        <br><br>

        <label>Select Date</label>

        <input
            type="date"
            name="date"
            required
        >

        <br><br>

        <label>Select Time</label>

        <select name="time" required>
            <option value="">Choose Time</option>
            <option>10 AM</option>
            <option>11 AM</option>
            <option>12 PM</option>
            <option>1 PM</option>
            <option>2 PM</option>
            <option>3 PM</option>
            <option>4 PM</option>
            <option>5 PM</option>
            <option>6 PM</option>
            <option>7 PM</option>
            <option>8 PM</option>
            <option>9 PM</option>
            <option>10 PM</option>
        </select>

        <br><br>

        <button type="submit">
            Continue To Checkout
        </button>

    </form>
</div>

</body>
</html>

