<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../CSS/otp.css">
</head>

<body>
<div class="container">
  <div class="loginbox">

    <p id="title">Verify OTP</p>

 
    <div class="steps">
      <div class="step done">
        <div class="circle">1</div>
        <p>Signup</p>
      </div>

      <div class="step active">
        <div class="circle">2</div>
        <p>OTP</p>
      </div>

      <div class="step" id="step3">
        <div class="circle">3</div>
        <p>Complete</p>
      </div>
    </div>

    <p>Enter the OTP sent to your phone</p>

    <form action="/otp" method="POST" onsubmit="return validateOTP()">
      <input type="text" id="otp" placeholder="Enter OTP">
      <span id="otpError" class="error"></span>

      <br>
      <button type="submit">Verify</button>
    </form>

  </div>
</div>


<script src="../js/home.js">
    
</script>

</body>
</html>