<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>

<h1>Admin Dashboard</h1>

<h2>Welcome <%= user.username %></h2>

<p>You are logged in as an admin.</p>

<a href="/academy/admin/manage-coaches">
    <button>Academy Management</button>
</a>

<br><br>

<a href="/court/admin/admin">
    <button>Court Management</button>
</a>

<br><br>

<a href="/logout">
    <button>Logout</button>
</a>

</body>
</html>