<!DOCTYPE html>
<html>
<head>
    <title>Home Management</title>
    <link rel="stylesheet" href="/CSS/home-management.css">
</head>
<body>

<h1>Home Management</h1>
<p class="subtitle">
    Control homepage announcements and website availability.
</p>
<form action="/admin/home-management" method="POST">

    <input type="text" name="announcement">

    <br><br>

    <label>
        <input type="checkbox" name="courtLocked">
        Lock Court Booking
    </label>

    <br><br>

    <button type="submit">Save</button>

</form>
<br>
<a href="/admin/dashboard">
    Back to Dashboard
</a>

</body>
</html>